@model WebApplication1.Models.Empleados

@{
    ViewBag.Title = "Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Editar</h2>


@using (Html.BeginForm("Editar", "TBLEmpleado", FormMethod.Post))
{
    @Html.HiddenFor(m => m.EmpleadoID) <!--Indicar que se le envia tambien el id del empleado-->
    <p>@Html.LabelFor(m => m.Nombre) : @Html.TextBoxFor(m => m.Nombre)</p>
    <p>@Html.LabelFor(m => m.Documento) : @Html.TextBoxFor(m => m.Documento)</p>
    <p>@Html.LabelFor(m => m.Email) : @Html.TextBoxFor(m => m.Email)</p>
    <p>@Html.LabelFor(m => m.FechaIngreso) : @Html.TextBoxFor(m => m.FechaIngreso)</p>


    <input value="Guardar" type="submit" class="btn btn-success" />
    <a class="btn btn-primary" href="/TBLEmpleado">Retornar</a>
}